@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,500,600,700");

.navbar {
  font-family: "Raleway";
  padding-left: 2% !important;
  padding-right: 2% !important;
  background: -webkit-linear-gradient(bottom, #0B0C10, #1F2833);
}
.txt-primary{
  color: #66FCF1 !important;
  text-decoration: none !important;
}
.txt-secondary{
  color: #C5C6C7 !important;
  text-decoration: none !important;
}