@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,500,600,700");

.navbar {
  font-family: "Raleway";
  color: white;
  margin-left: 2% !important;
  margin-right: 2% !important;
  /*background: -webkit-linear-gradient(bottom, #1F2833, #1F2833);
*/}