@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,500,600,700");

.footer {
  font-family: "Raleway" !important;
  color: #1f2833;
  position: absolute !important;
  height: 60px !important;
  left: 0;
  bottom: 0 !important;
  right: 0;
}

.social-icon {
  padding: 10px;
}
