@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,500,600,700");
/* Se modifica desde aqui
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  font-family: "Raleway" !important;
  color: #1f2833;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
} */
/* Hasta aqui para controlar el footer*/
/* 
html{
  height: 100%;
  margin: 0 0 0 0;
} */

footer .container{
  min-width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.footer{
  width: 100%;
  color: #C5C6C7;
  padding-top: 2%;
  background: -webkit-linear-gradient(top, #0B0C10, #1F2833);
}
.list-unstyled{
  text-align: center;
}
.link-text{
  color: #45A29E;
  text-decoration: none !important;
}
.link-text:hover{
  color: #66FCF1;
}
.Content{
  margin-top: 2%;
  color: #C5C6C7;
}
.social-icon {
  padding: 10px;
}
.learnify-footer{
  padding-bottom: 2%;
}
 /* .footer,
.Content:after {
  height: 200px;
}

.Content:after {
  content: "";
  display: block;
}

.Content {
  margin-bottom: -200px; 
  min-height: 100%;
}  */
