@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,500,600,700");

* {
  margin: 0;
}

.footer {
  font-family: "Raleway" !important;
  color: #1f2833;
<<<<<<< HEAD:src/components/Global/Footer.css:
  height: 60px !important;
  left: 0;
=======
  left: 0;
>>>>>>> Sprint_3:src/components/Global/Content.css
  right: 0;
  bottom: 0;
}

.social-icon {
  padding: 10px;
}

.footer,
.Content:after {
  height: 200px;
}

.Content:after {
  content: "";
  display: block;
}

.Content {
  /* equal to footer height */
  margin-bottom: -200px;
  min-height: 100%;
}
